.holo-card[data-effect="prism"] .holo-card__shine {
  background-image:
    repeating-conic-gradient(
      from calc(var(--tilt-x) * 5deg) at var(--background-x) var(--background-y),
      var(--sunpillar-clr-1) 0deg,
      var(--sunpillar-clr-2) 10deg,
      var(--sunpillar-clr-3) 20deg,
      var(--sunpillar-clr-4) 30deg,
      var(--sunpillar-clr-5) 40deg,
      var(--sunpillar-clr-6) 50deg,
      var(--sunpillar-clr-1) 60deg
    ),
    radial-gradient(
      farthest-corner circle at var(--pointer-x) var(--pointer-y),
      hsla(0, 0%, 100%, 0.5) 5%,
      hsla(0, 0%, 45%, 0.35) 45%,
      hsl(0, 0%, 0%) 125%
    );

  background-position:
    center center,
    center center;

  background-size: cover, cover;

  background-blend-mode: multiply;
  filter: brightness(calc(0.75 * var(--hc-brightness))) contrast(calc(1.7 * var(--hc-contrast)))
    saturate(calc(1.05 * var(--hc-saturate)));
  mix-blend-mode: color-dodge;
  opacity: calc(var(--card-opacity) * 0.9 * var(--hc-shine-opacity));
}

.holo-card[data-effect="prism"] .holo-card__shine::before {
  content: "";

  background-image: repeating-conic-gradient(
    from calc(var(--tilt-x) * -3deg) at var(--background-x) var(--background-y),
    hsla(0, 0%, 100%, 0) 0deg,
    hsla(0, 0%, 100%, 0) 9deg,
    hsla(0, 0%, 100%, 0.55) 10deg,
    hsla(0, 0%, 100%, 0.55) 11deg,
    hsla(0, 0%, 0%, 0.45) 12.5deg,
    hsla(0, 0%, 0%, 0.45) 15deg,
    hsla(0, 0%, 100%, 0) 16.5deg,
    hsla(0, 0%, 100%, 0) 24deg
  );

  background-size: cover;
  background-position: center center;

  filter: brightness(1.1) contrast(1.4);
  mix-blend-mode: hard-light;
  opacity: calc(0.4 + var(--pointer-from-center) * 0.5);
}

.holo-card[data-effect="prism"] .holo-card__shine::after {
  content: "";

  background-image: radial-gradient(
    farthest-corner circle at var(--pointer-x) var(--pointer-y),
    hsla(0, 0%, 92%, 0.7) 0%,
    hsla(0, 0%, 76%, 0.1) 25%,
    hsl(0, 0%, 6%) 90%
  );

  background-position: center center;
  background-size: cover;

  mix-blend-mode: luminosity;
  filter: brightness(0.62) contrast(3);
}

.holo-card[data-effect="prism"] .holo-card__glare {
  background-image: var(
    --glare-image,
    radial-gradient(
      farthest-corner circle at var(--pointer-x) var(--pointer-y),
      hsla(0, 0%, 100%, 0.8) 10%,
      hsla(0, 0%, 65%, 0.35) 40%,
      hsla(0, 0%, 0%, 0.6) 110%
    )
  );
  filter: brightness(0.85) contrast(1.7);
  mix-blend-mode: var(--glare-blend, overlay);
  opacity: calc(var(--card-opacity) * 0.9 * var(--hc-glare-opacity));
}
